$bg_white: #fff;
$bg_grey: #F0F2F5;
$el_blue: #409EFF;
$bg_menu: #E6F7FF;
$color_menu_active: #1890FF;
$color_e9: #e9e9e9;
$font_grey: #555;
$font_grey21: #212121;
$font_grey66: #666;
$font_grey99: #999;
$font_greycc: #ccc;
$bg_color: #f2f2f2;