.story-container {
    min-height: 600px;
    width: 100%;
}

@mixin custom-scroll {
  &::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border-radius: 5px;
  }

  scrollbar-color: #bfbfbf #F5F5F5 !important;
  scrollbar-width: thin !important;
}

* {
  @include custom-scroll;
}